<div class="sign-in-form">
  <br />
  <br />

  <mat-card class="sign-in-form-card mat-elevation-z8">
    <mat-card-title>
      <h2 class="sign-in-form-header">Signin to Account</h2>
      <h4 class="sign-in-form-error" *ngIf="errorlogin !== 'undefined'">
        {{ errorlogin }}
      </h4>
    </mat-card-title>
    <br />
    <mat-card-content>
      <form ngForm #signin="ngForm" (ngSubmit)="Signin()">
        <mat-form-field floatLabel="never" appearance="fill">
          <mat-label>email</mat-label>
          <input matInput required ngModel name="email" />
        </mat-form-field>
        <mat-form-field floatLabel="never" appearance="fill">
          <mat-label>password</mat-label>
          <input matInput ngModel name="password" required />
        </mat-form-field>
        <div class="sign-in-form-buttons">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!signin.valid"
          >
            Submit
          </button>

          <h4 class="sign-in-form-clear" (click)="resetForm()">Cancel</h4>
        </div>
      </form>
    </mat-card-content>
    <h3 class="sign-in-form-footer">
      Need an Account
      <span class="sign-in-form-footer-link" routerLink="/register"
      matTooltip="Click to register"
      matTooltipPosition="above"
     matTooltipHideDelay="100"
        >Register Here</span
      >
    </h3>
  </mat-card>
  <div>
<!-- <div *ngIf="success">
<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->
</div>
