.register-form-card {
  width: 75vw;
  margin: 20px auto;
  height: fit-content;
  border-radius: 10px;
}
.register-form-title {
  width: 73vw;
  margin: 20px auto;
  color: rgb(83, 83, 83);
}
.register-form-buttons {
  display: flex;
  align-items: center;
}
.register-form-buttons h4 {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
}

.register-form-error {
  text-align: center;
  background-color: rgba(220, 20, 60, 0.267);
  color: crimson;
  border-radius: 10px;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
}
.register-form-card mat-form-field {
  width: 100vw;
}
.register-form-card-title {
  margin: 5px 5px 30px 3px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}
.register-form-upload-input {
  display: none;
}
.register-form-upload-input-icon {
  cursor: pointer;
}
