.chart-card-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1vh 1vw;
}
/* .graph1 {

  margin: 1vh 1vw;
} */
/* .graph1 {
  flex: 0.3;

} */
mat-card {
  margin: 1vh 1vw;
}
.gap{
  flex:1;
}
