/* You can add global styles to this file, and also import other style files */

.mat-typography {
  height: 100%;
  background-color: #e5edf1;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
